@{
    Layout = "_BackOfficeLayout";
}

@model csharp_boolflix.Data.FormModels.FormTvShow

<div>
    <h1 class="text-center">Modifica Serie</h1>
    <form asp-controller="TvShow" asp-action="Update" asp-route-id="@Model.TvShow.Id" method="POST">

        @Html.AntiForgeryToken()

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="TvShow.Title" placeholder="Titolo">
            <label asp-for="TvShow.Title">Titolo</label>
            <span asp-validation-for="TvShow.Title" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="TvShow.Director" placeholder="Regista (nome e cognome)">
            <label asp-for="TvShow.Director">Regista (nome e cognome)</label>
            <span asp-validation-for="TvShow.Director" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" asp-for="TvShow.ReleaseDate" placeholder="Data di uscita">
            <label asp-for="TvShow.ReleaseDate">Data di uscita</label>
            <span asp-validation-for="TvShow.ReleaseDate" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <textarea asp-for="TvShow.Description" class="form-control" placeholder="Trama"></textarea>
            <label asp-for="TvShow.Description">Trama</label>
            <span asp-validation-for="TvShow.Description" class="text-danger"></span>
        </div>

        @* <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="TvShow.Duration" placeholder="Durata (min)">
        <label asp-for="TvShow.Duration">Durata (min)</label>
        <span asp-validation-for="TvShow.Duration" class="text-danger"></span>
        </div>*@

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="TvShow.Cover" placeholder="Url Cover">
            <label asp-for="TvShow.Cover">Url Cover</label>
            <span asp-validation-for="TvShow.Cover" class="text-danger"></span>
        </div>

        <div class="mb-3">
            @foreach (Category category in Model.Categories)
            {
                <div class="form-check">
                    <input type="checkbox" id="@($"ingredient_{category.Id}")" name="SelectedCategories" value="@category.Id" @(Model.SelectedCategories.Contains(category.Id) ? "checked" : "")>
                    <label class="form-check-label" for="@($"ingredient_{category.Id}")">@category.Name</label>
                </div>
            }
        </div>

        <div class="mb-3">
            @foreach (Actor actor in Model.Actors)
            {
                <div class="form-check">
                    <input type="checkbox" id="@($"ingredient_{actor.Id}")" name="SelectedActors" value="@actor.Id" @(Model.SelectedActors.Contains(actor.Id) ? "checked" : "")>
                    <label class="form-check-label" for="@($"ingredient_{actor.Id}")">@actor.Name @actor.LastName</label>
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary">Modifica</button>
    </form>
</div>